<table class='table,form-group'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <td><%= user.name %></td>
  </tr>
  <tr>
	  <th>introduction</th>
	  <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>follows</th>
    <td><%= link_to user.followings.count, user_followings_path(user.id) %></td>
  </tr>
  <tr>
    <th>followers</th>
    <td><%= link_to user.followers.count, user_followers_path(user.id) %></td>
  </tr>
</table>
　
<div class='row,form-group'>
  <!--フォロー外す-->
  <div class="mr-3">
  <% if current_user != user %>
    <%= render "relationships/btn", user: user %>
  <% end %>
  </div>
  
  <!--チャット機能-->
  <div>
  <% unless user.id == current_user.id %>
    <% if current_user.following?(user)  %>
      <% if @isRoom == true %>
        <%= link_to "チャットへ", room_path(@roomid) %>
      <% else %>
      <%= form_with model: @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value => user.id %>
      <% end %>
      <%= f.submit "チャットを始める"%>
    <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <!--編集機能-->
</div>
<div class="mt-1">
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>